.popup__subtitle {
  font-weight: 400;
  margin: 10px 0 60px;
  position: relative;
  font-size: 18px;
  text-align: center;
}

.popup__subtitle::after {
  position: absolute;
  content: "";
  width: 250px;
  height: 14px;
  background-image: url(../../../images/venzel.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}
