.call-button {
  text-decoration: none;
  min-height: 50px;
  min-width: 250px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #f60;
  color: #fff;
  font-size: 24px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.call-button:hover {
  background-color: #f40;
}

@media screen and (min-width: 768px) {
  .call-button {
    right: 50px;
    bottom: 50px;
    left: unset;
  }
}
