@media screen and (min-width: 768px) {
  .header__menu-link-container {
    min-height: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .header__menu-link-container:first-of-type {
    width: 100%;
  }
  .header__menu-link-container:last-of-type {
    width: 100%;
  }
  .header__menu-link-container {
    min-height: 55px;
  }
}
