.info-block {
  background-color: #fff;
  border: 1px solid #bfbfbf;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.4);
  margin-bottom: 60px;
}

.info-block:last-of-type {
  margin: 0;
}
