/*.side-menu__img {
  width: 80vw;
  min-width: 250px;
}


@media screen and (min-width: 640px) {
  .side-menu__img {
    width: 41vw;
  }
}

@media screen and (min-width: 900px) {
  .side-menu__img {
    width: 27.34375vw;
  }
}

@media screen and (min-width: 1280px) {
  .side-menu__img {
    max-width: 350px;
  }
}
*/
.side-menu__img {
  width: 100%;
}
